@tailwind base;
@tailwind components;
@tailwind utilities;

/* ヘッダー全体をスタイリング */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa; /* 背景色を設定 */
}

/* ロゴのスタイリング */
.logo img {
    height: 50px; /* ロゴのサイズを設定 */
    width: auto; /* 幅を自動調整 */
}

.icon img{
    height: 50px; /* ロゴのサイズを設定 */
    width: auto; /* 幅を自動調整 */
}

nav ul {
    flex-direction: row; /* 横並びにする */
    list-style: none; /* リストのスタイルをなくす */
    display: flex; /* 要素を横並びにする */
    padding: 0; /* パディングをリセット */
    margin: 0; /* マージンをリセット */
    height: 100%; /* ヘッダーの高さに合わせる */
    align-items: center; /* アイテムを垂直方向に中央揃え */
}

nav ul li {
    margin-right: 10px; /* リストアイテム間の右側の余白を設定 */
}

nav ul li a {
    text-decoration: none; /* リンクの下線をなくす */
    color: #333; /* リンクの色を設定 */
    font-weight: bold; /* フォントを太くする */
}

.edit-button{
    border: 1px solid white; /* 枠線の色を灰色に設定 */
}