@tailwind base;
@tailwind components;
@tailwind utilities;


/*初期化*/

* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: #e6e6e6;
}

/* header */
    header {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
    
    .logo img {
        height: 50px; /* ロゴのサイズを設定 */
        width: auto; /* 幅を自動調整 */
    }
    
main{
    margin-top: 0;
}

    
/*footer*/
    footer{
          text-align: center;
          padding: 20px;
          background-color: #f4f4f4;
          color: #333;
          border-top: 1px solid #e4e4e4;
    }